.pokemon-sprite {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: url('https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/c/c9/Pok%C3%A9mon_Go_Grass_Field_Based_On.jpg/revision/latest/scale-to-width-down/300?cb=20190526123323');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 1em;
}